{% extends 'user/base.html' %}

{% block body %}
<br><br><br><br>

<div class="row">
    <div class="col l6 offset-l3 m8 offset-m2 s12 ">
        <div class="card-panel ">
        {% if validlink %}
            <h3 class="sofia center-align">Change password</h3>
            <form method="post">
              {% csrf_token %}
              {% for field in form %}
                    <div class="input-field">
                        {{field}}
                        <label for="{{field.id}}">{{field.label}}</label>
                    </div>
                    <p class="red-text">
                        {% for error in field.errors %}
                          {{ error }}<br>
                        {% endfor %}
                    </p>
                    {% if field.help_text %}
                        <div class="grey-text">
                            {{ field.help_text }}
                        </div>
                    {% endif %}

                {% endfor %}
                <div class="center">
                    <button type="submit" class="btn blue">Change password</button>
                </div>
            </form>
        {% else %}
            <p class="red-text">
              The password reset link was invalid, possibly because it has already been used.
              Please request a new password reset.
            </p>
        {% endif %}
        </div>
    </div>
</div>
<br><br>
{% endblock %}