{% extends 'user/base.html' %}

{% block body %}
<br><br><br><br>
<div class="row">
	<div class="col l6 offset-l3 m8 offset-m2 s12 ">
		<div class="card-panel ">
			<h3 class="sofia center-align">Forgot password</h3><br>
			<form method="post">
			    {% csrf_token %}
			    {% for field in form %}
			    <div class="input-field">
			    	{{field}}
			    	<label for="{{field.auto_id}}">{{field.label}}</label>
			    </div>
			    <p class="red-text">
                        {% for error in field.errors %}
                          {{ error }}<br>
                        {% endfor %}
                    </p>
			    {% endfor %}
			    <div class="center"><br>			    	
				    <button type="submit" class="btn">Submit</button>
			    </div>
			</form>
		</div>
	</div>
</div>
{% endblock %}